<html>
  <body>
    <h1>Directory</h1>
    <li>
        <a href="https://certportal.{{.EnvironmentSubdomain}}.nlx.io">Certportal</a>
    </li>
    <li>
        <a href="https://directory.{{.EnvironmentSubdomain}}.nlx.io">Directory</a>
    </li>
    <li>
        <a href="https://docs.{{.EnvironmentSubdomain}}.nlx.io">Docs</a>
    </li>

    <h1>Gemeente Stijns</h1>
    <li>
        <a href="https://management.{{.EnvironmentSubdomain}}.gemeentestijns.nl">NLX Management</a>
    </li>

    <h1>Rijksdienst voor Realistische Demo's</h1>
    <li>
      <a href="https://management.{{.EnvironmentSubdomain}}.rvrd.nl">NLX Management</a>
    </li>

    <h1>Vergunningsoftware BV</h1>
    <li>
        <a href="https://management.{{.EnvironmentSubdomain}}.vergunningsoftware.nl">NLX Management</a>
    </li>
    <li>
        <a href="https://parkeerrechten-admin.{{.EnvironmentSubdomain}}.vergunningsoftware.nl">Parkeerrechten admin</a>
    </li>
  </body>
</html>
